<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet" type="text/css" href="home.css" />
    <thymeleaf th:replace="header :: header"/>


</head>
<body>


<div class="container">

    <div th:replace="action :: action"></div>

    <div class="title">

        <h1 style="font-size: 110px;"> Quench </h1>


    </div>

    <div class="logo">
        <img src="resources/quenchHeart.jpg" alt="Responsive image" width="500" height="300">

    </div>
    <div class="info">
        <p style="text-align: center; font-size: 18px; ">Welcome to Quench! Here you can vent your problems to our users and get feedback if your
            relationship is worth salvaging or if you should just quench those last embers!</p>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-danger btn-lg" style="color:black">Login</button>
        <button type="submit" class="btn btn-danger btn-lg" style="color:black">Register</button>
    </div>

</div>

</div>
</body>
</html>