body {
    background-color: black
}
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.title {
    color: #CEF0D4;
    font-family: 'Rouge Script', cursive;
    font-size: 150px;
    font-weight: normal;
    line-height: 48px;
    margin: 100px 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #a7e8f8;
}
.logo {
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-block-start: 50px;
    margin-block-end: 50px;
    border-radius: 50%;
    width: 70%;
}

.form-group {
    display:inline-block;
    margin-left: auto;
    margin-right: 150px;
    margin-block-start: 30px;
    align-content: center;
    text-emphasis-color: black;
}

.info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 50px;
    width: 40%;
    color:aqua;
    text-size-adjust: 20%;
    font-family: 'Rouge Script', cursive;
}